.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h3.margin-top0
      Safe Deployments
    %p
      You deploy new versions for customer benefits - more speed, more stability, more features and so on.
      Having a deployment fail defeats the entire purpose of deploying new versions. Hence
      GitLab provides deployment strategies to safeguard your deployments - including
      what to deploy to production (via
      %a{href: "https://docs.gitlab.com/ee/operations/feature_flags.html", :"data-ga-name" => "feature flags", :"data-ga-location" => "body"}Feature Flags
      ), who to deploy it to (via
      %a{href: "https://docs.gitlab.com/ee/ci/environments/incremental_rollouts.html", :"data-ga-name" => "progressive delivery", :"data-ga-location" => "body"}Progressive Delivery
      )
      and advanced deployment strategies like
      %a{href: "https://docs.gitlab.com/ee/user/project/canary_deployments.html", :"data-ga-name" => "canary", :"data-ga-location" => "body"}Canary
      and
      %a{href: "https://docs.gitlab.com/ee/ci/environments/incremental_rollouts.html#blue-green-deployment", :"data-ga-name" => "blue green deployments", :"data-ga-location" => "body"}blue green deployments
      ).

  .grid-item
    %h3.margin-top0
      Flexible Deployment Options
    %p
      GitLab
      %a{href: "https://docs.gitlab.com/ee/topics/autodevops/", :"data-ga-name" => "auto devops", :"data-ga-location" => "body"}Auto DevOps
      simplifies and accelerates delivery with a complete delivery pipeline out of the box.
      Use predefined
      %a{href: "https://docs.gitlab.com/ee/ci/examples/index.html", :"data-ga-name" => "deployment templates", :"data-ga-location" => "body"}deployment templates
      or build and maintain your
      %a{href: "https://docs.gitlab.com/ee/ci/yaml/gitlab_ci_yaml.html", :"data-ga-name" => "pipelines as code", :"data-ga-location" => "body"}pipelines-as-code.
      Your deployments can also scale with your DevOps maturity - create
      %a{href: "https://docs.gitlab.com/ee/ci/pipelines/multi_project_pipelines.html", :"data-ga-name" => "multi-project deployments", :"data-ga-location" => "body"}deployments that span multi-projects
      or organize your pipelines with
      %a{href: "https://docs.gitlab.com/ee/ci/pipelines/parent_child_pipelines.html", :"data-ga-name" => "parent-child pipelines", :"data-ga-location" => "body"}parent-child pipelines.


  .grid-item
    %h3.margin-top0
      Integrated GitOps
    %p
      Modern infrastructure needs to be elastic. And the sooner you can move away from click-ops and
      script-ops, the sooner you can achieve this elasticity at scale.
      With a native integration with Terraform for
      %a{href: "https://docs.gitlab.com/ee/user/infrastructure/iac/", :"data-ga-name" => "infrastructure as code", :"data-ga-location" => "body"}infrastructure as code
      and a
      %a{href: "https://docs.gitlab.com/ee/user/clusters/agent/", :"data-ga-name" => "clusters", :"data-ga-location" => "body"}secure connection with your Kubernetes Clusters
      to detect and recover from drift, GitLab can help you establish an end to end GitOps
      workflow.

  .grid-item
    %h3.margin-top0
      DORA metrics
    %p
      Track your team's / organization's speed of delivery by
      tracking key
      %a{href: "https://docs.gitlab.com/ee/api/dora/metrics.html", :"data-ga-name" => "cd metrics", :"data-ga-location" => "body"}Continuous Delivery related metrics
      like Deployment Frequency (i.e., how often code is deployed to customers) and
      Lead time to change (i.e., time taken from code commit to production deployment).

  .grid-item
    %h3.margin-top0
      Multicloud deployment
    %p
      GitLab supports application deployment anywhere, including virtual machines, Kubernetes clusters, or FaaS offerings from different cloud vendors. Whether you use Amazon Web Services, Google Cloud Platform, Microsoft Azure, or your own private cloud - GitLab is infrastructure-agnostic DevOps that is built for
      %a{href: "https://about.gitlab.com/topics/multicloud/", :"data-ga-name" => "multicloud", :"data-ga-location" => "body"}multicloud.
      Check out the supported application deployment targets
      %a{href: "https://about.gitlab.com/stages-devops-lifecycle/deploy-targets/", :"data-ga-name" => "deploy targets", :"data-ga-location" => "body"}here


  .grid-item
    %h3.margin-top0
      Continuous compliance
    %p
      GitLab simplifies compliance for continuous delivery by allowing customers to
      maintain granular policies such as
      <br> - defining who can deploy (via segregation of duties and approval rules)
      <br> - maintain governance and audit trail of all changes
      <br> - govern releases with version history, code and evidence

  .grid-item
    %h3.margin-top0
      Continuous feedback
    %p
      You cannot fix what you cannot see. With GitLab, you can continuously visualize
      the status of your
      %a{href: "https://docs.gitlab.com/ee/ci/environments/#view-environments-and-deployments", :"data-ga-name" => "environments and deployments", :"data-ga-location" => "body"}environments and deployments
      (past, current and upcoming).
      You can also measure how your deployment is performing (via
      %a{href: "https://docs.gitlab.com/ee/user/project/merge_requests/browser_performance_testing.html", :"data-ga-name" => "browser performance testing", :"data-ga-location" => "body"}browser performance testing,
      %a{href: "https://docs.gitlab.com/ee/operations/metrics/", :"data-ga-name" => "performance monitoring", :"data-ga-location" => "body"}performance monitoring
      and
      %a{href: "https://docs.gitlab.com/ee/operations/tracing.html", :"data-ga-name" => "tracing", :"data-ga-location" => "body"}tracing
      ),
      %a{href: "https://docs.gitlab.com/ee/ci/environments/#retrying-and-rolling-back", :"data-ga-name" => "rollback deployment", :"data-ga-location" => "body"}rollback deployment based on performance
      (via post deployment monitoring), and achieve a feedback loop (via
      %a{href: "https://docs.gitlab.com/ee/operations/incident_management/", :"data-ga-name" => "incident management", :"data-ga-location" => "body"}incident management
      ).
